@use 'src/styles/_variables.scss' as V;
.userpage {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media screen and (min-width: 768px) {
    background-color: V.$pink-bg;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
  }
  &__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      margin-left: 150px;
      padding: 20px;
    }

    &-user {
      width: 5rem;
      @media screen and (min-width: 768px) {
        width: 15rem;
      }
    }
    &-modify {
      font-size: 12.5px;
    }
  }
  &__infos {
    background-color: V.$pink-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8%;
    padding: 10px;
    width: 90%;

    &-title {
      font-size: 1.3rem;
      font-weight: bold;
    }
    &-area {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    &-item {
      font-size: 1rem;
      padding: 5px;
      background-color: V.$white-color;
      border-radius: 20px;
      width: 300px;
      font-family: V.$secondary-font;
      font-weight: bold;
      color: V.$gray-icon;
      padding-left: 10px;
    }
    &-footer {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &-button {
      font-size: 1.5rem;
      font-family: V.$secondary-font;
      width: 200px;
      border-radius: 20px;
      padding: 3px;
      color: V.$font-color-dark-bg;
      background-color: V.$pink-color;
    }
  }
}
