@use '../../styles/variables' as V;

.header {
  &__bottom_container {
    display: flex;
    margin: 1rem;
    justify-content: center;
    flex-direction: column;
    // width: 75rem;
    background-color: V.$grey-menu;
    border-radius: 15px;
    padding: 2rem;
    color: white;
    font-weight: 600;
    position: relative;
    // display: none;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__bottom_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  &__bottom_content-title {
    font-size: 2.3rem;
  }
  &__bottom_content-text {
    font-size: 1.5rem;
  }

  &__bottom_button {
    display: flex;
    color: white;
    justify-content: center;
    background-color: V.$pink-color;
    border-radius: 10px;
    padding: 1rem;
    max-width: 300px;
    box-shadow: 2px 2px 5px black;
    margin: 0 auto;
    transform: translateY(-2rem);

    @media screen and (max-width: 768px) {
      transform: translateY(0);
    }
  }

  &__bottom_button-link {
    font-family: V.$main-font;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__bottom_button-logo {
    width: 25px;
  }
  &__bottom_input-area {
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  &__bottom_input-text {
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 15px;
  }
}
