@use '../../styles/variables' as v;

.root {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.page {
  background-color: v.$pink-bg;
  height: 100vh;

  @media screen and (min-width: 768px) {
    flex-grow: 1;
    width: fit-content;
  }
}
