@use 'src/styles/_variables.scss' as V;

.transaction {
  &__area {
    background-color: V.$pink-bg;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    gap: 20px;

    &-arrowicon {
      width: 2rem;
      margin: 0 1rem;

      @media screen and (max-width: 768px) {
        transform: rotateZ(90deg);
      }
    }
    &-top {
      display: flex;
      margin: 10px;
      padding: 2rem;
      align-items: center;
      justify-content: space-evenly;
      background-color: V.$white-color;
      width: 90%;
      font-family: V.$main-font;
      font-weight: bold;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }

      &-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-img {
          @media screen and (max-width: 768px) {
            width: 9rem;
          }
        }
        &-name {
          color: V.$pink-color;
          font-family: V.$secondary-font;
          font-weight: 500;
        }
        &-location {
          font-family: V.$secondary-font;
          font-weight: 500;
        }
      }

      &-title {
        margin: 10px;
        font-weight: bold;
        font-size: 20px;
      }
      &-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        font-weight: bold;
        &-image {
          width: 30%;
          @media screen and (max-width: 768px) {
            width: 9rem;
          }
        }
        &-title {
          font-size: 1.5rem;
        }
        &-volume {
          font-family: V.$secondary-font;
          font-weight: 500;
        }

        &-price {
          // padding-top: 1rem;
          color: V.$pink-color;
          font-size: 1.5rem;
        }
      }
    }
    &-bottom-button {
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      background-color: V.$pink-color;
      padding: 20px 30px;
      border-radius: 20px;
      font-weight: bold;
      color: V.$font-color-dark-bg;
    }
  }
}
