@use '../../styles/variables' as V;

body {
  overflow-x: hidden;
}

.CreateArticle__title {
  font-family: V.$main-font;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 70%;
  }
}
.CreateArticle__container {
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  &_left {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &_left img {
    border-radius: 15px;
  }
  &_right {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.CreateArticle__form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  &-addMangaButton {
    background-color: V.$pink-color;
    padding: 0.3rem;
    margin: 0.5rem;
    color: white;
    border-radius: 1rem;
  }
  &_label {
    font-family: V.$main-font;
    font-weight: bold;
    margin-top: 0.9rem;
  }

  &_input {
    background: V.$pink-bg;
    padding: 0.5rem;
    border-radius: 15px;
    font-family: V.$secondary-font;
    font-size: 0.95rem;
  }

  &_btn {
    padding: 1rem 0;
    background: V.$pink-color;
    border-radius: 15px;
    font-family: V.$main-font;
    font-weight: bold;
    color: white;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 75%;
  }

  &_btn img {
    width: 28px;
  }
}
