@use '../../styles/variables' as V;

.header {
  &__top_container {
    display: grid;
    grid-template-areas: 'empty logo links';
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 1.5rem 2.5rem;
    align-items: center;
    @media screen and (max-width: 768px) {
      grid-template-areas: 'logo' 'links';
      grid-template-columns: 1fr;
      align-items: center;
    }
  }

  &__top_container-button-menu {
    display: none;
    @media screen and (max-width: 768px) {
      width: 3rem;
      height: 3rem;
      display: block;
      position: fixed;
      top: 1.5rem;
      left: 1.5rem;
    }
  }

  &__logo {
    grid-area: logo;
    margin: 0 auto;
    width: 15rem;
    @media screen and (max-width: 768px) {
      width: 8rem;
    }
  }
  &__top_container-links {
    grid-area: links;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    gap: 2rem;
    @media screen and (max-width: 768px) {
      margin-top: 30px;
      justify-content: center;
    }
  }

  &__top_container-signup {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    transition: color 0.3s ease;
  }
  &__top_container-signup:hover {
    color: V.$pink-color;
  }
  &__top_container-login {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    transition: color 0.3s ease;
  }
  &__top_container-login:hover {
    color: V.$pink-color;
  }
  &__bottom_container {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    background-color: V.$grey-menu;
    border-radius: 15px;
    padding: 2rem;
    color: white;
    font-weight: 600;
    position: relative;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__bottom_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  &__bottom_content-title {
    font-size: 2.3rem;
  }
  &__bottom_content-text {
    font-size: 1.5rem;
  }

  &__bottom_button {
    display: flex;
    color: white;
    justify-content: center;
    background-color: V.$pink-color;
    border-radius: 10px;
    padding: 1rem;
    max-width: 300px;
    box-shadow: 2px 2px 5px black;
    margin: 0 auto;
    transform: translateY(-2rem);

    @media screen and (max-width: 768px) {
      transform: translateY(0);
    }
  }

  &__bottom_button-link {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__bottom_button-logo {
    width: 25px;
  }
  &__bottom_input-area {
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  &__bottom_input-text {
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 15px;
  }
}
