.carousel {
  &__img {
    max-width: 100%;
    animation: slideimg 500ms ease 0 1 normal forwards;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    &-btn {
      width: 25px;

      &--left {
        transform: rotateZ(180deg);
      }
    }
  }
}
